body {
  background-color: #8b0000;
  font-family: "PT Serif", serif;
}
img {
  width: 60%;
  height: 60%;
}
p {
  color: antiquewhite;
  font-size: 35px;
}
a {
  color: antiquewhite;
  text-decoration: none;
}
h4 {
  color: #a30606;
  font-size: 35px;
  margin: auto;
}
h3 {
  margin: auto;
}
h2 {
  color: #8b0000;
}

marquee {
  color: black;
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.sp {
  display: none;
}
.img_logo {
  width: 95px;
  padding-right: 4%;
}
.inaguration_scroll {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
}

header {
  font-size: 27px;
  border-bottom: solid black 5px;
  /* background-image: linear-gradient(rgb(201 184 183 / 48%), rgb(82 32 28 / 16%)),
    url(/imgs/headerBackImg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  background-size: cover; */
}
.tittle {
  color: black;
  font-size: 75px;
  border-bottom: solid black 5px;
  padding-bottom: 50px;
  padding-right: 11%;
  margin: auto;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header ul li {
  border-radius: 3px;
  padding: 6px;
}
header ul li:hover {
  opacity: 0.5;
  scale: 1.2;
}
main {
  background-color: black;
}
h1 {
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  padding-top: 50px;
  color: #8b0000;
}
.breakfast {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}

.breakfastCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.lunch {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}
.lunchCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.dinner {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}
.dinnerCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.drinks {
  color: #8b0000;
}

.drinks ul {
  display: block;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 15%;
  text-align: center;
}
.drinks ul li {
  list-style: none;
  padding-bottom: 1.5%;
  font-size: 35px;
}
.comments {
  display: block;
  text-align: center;
  justify-content: space-between;
}
.tittle_footer {
  color: black;
  font-size: 75px;
  padding-bottom: 50px;
  padding-right: 11%;
  margin: auto;
}
.location {
  text-align: center;
}
.map {
  padding-top: 145px;
  padding-bottom: 110px;
}
.info {
  width: max-content;
  margin: auto;
  padding-bottom: 110px;
}
.info p {
  margin: 1rem 0;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  h1 {
    padding-top: 50px;
  }

  p {
    font-size: 20px;
  }

  /* dropdown menu */

  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
  }
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
  }
  .menu-btn span:before {
    bottom: 8px;
  }
  .menu-btn span:after {
    top: 8px;
  }

  #menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);
  }
  #menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
  }

  #menu-btn-check {
    display: none;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 80;
    background-color: #000;
  }
  .menu-content ul {
    padding: 70px 10px 0;
  }
  .menu-content ul li {
    border-bottom: solid 1px #ffffff;
    list-style: none;
  }
  .menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #ffffff;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
  }
  .menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
  }

  .menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #000;
    transition: all 0.5s;
  }

  #menu-btn-check:checked ~ .menu-content {
    left: 0;
  }

  header ul {
    display: block;
  }

  .breakfast,
  .lunch,
  .dinner {
    display: block;
    padding-bottom: 0;
    padding-top: 30px;
  }

  .breakfastCombo,
  .lunchCombo,
  .dinnerCombo {
    width: 100%;
    padding-bottom: 30px;
  }

  .map {
    width: 100%;
  }
}
