body {
  background-color: #8b0000;
  font-family: "PT Serif", serif;
}
img {
  width: 60%;
  height: 60%;
}
p {
  color: antiquewhite;
  font-size: 35px;
}
a {
  color: antiquewhite;
  text-decoration: none;
}
h4 {
  color: #a30606;
  font-size: 35px;
  margin: auto;
}
h3 {
  margin: auto;
}
h2 {
  color: #8b0000;
}

marquee {
  color: black;
  font-size: 35px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.img_logo {
  width: 95px;
  padding-right: 4%;
}
.inaguration_scroll {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
}

header {
  font-size: 27px;
  border-bottom: solid black 5px;
  /* background-image: linear-gradient(rgb(201 184 183 / 48%), rgb(82 32 28 / 16%)),
    url(/imgs/headerBackImg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  background-size: cover; */
}
.tittle {
  color: black;
  font-size: 75px;
  border-bottom: solid black 5px;
  padding-bottom: 50px;
  padding-right: 11%;
  margin: auto;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header ul li {
  border-radius: 3px;
  padding: 6px;
}
header ul li:hover {
  opacity: 0.5;
  scale: 1.2;
}
main {
  background-color: rgb(31, 29, 29);
}
h1 {
  font-size: 50px;
  font-weight: 200;
  text-align: center;
  padding-top: 50px;
  color: #8b0000;
}
.breakfast {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}

.breakfastCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.lunch {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}
.lunchCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.dinner {
  padding-top: 145px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 145px;
}
.dinnerCombo {
  width: 23%;
  font-size: 25px;
  padding-bottom: 120px;
}

.drinks {
  color: #8b0000;
}

.drinks ul {
  display: block;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 15%;
  text-align: center;
}
.drinks ul li {
  list-style: none;
  padding-bottom: 1.5%;
  font-size: 35px;
}
.comments {
  display: block;
  text-align: center;
  justify-content: space-between;
}
footer {
  text-align: center;
  display: block;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
footer ul li {
  border-radius: 1px;
  padding: 6px;
  font-size: 25px;
}
footer ul li:hover {
  opacity: 0.5;
  scale: 1.2;
}

.location {
  text-align: center;
}
.map {
  padding-top: 145px;
  padding-bottom: 110px;
}
.info {
  width: max-content;
  margin: auto;
  padding-bottom: 110px;
}
.info p {
  margin: 1rem 0;
  text-align: left;
}
